// .home--wrapper {
//   height: calc(100vh - 84px);
//   padding: 10px 15px;

// }

// #profileSection {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   height: 100%;
//   flex-wrap: wrap;
//   min-width: 600px;
//   & > *{
//     flex: 1;
//   }
//  .profile__details{
//     display: grid;
//     grid-template-columns: 40px 1fr 200px;
//     & > *{
//       grid-column: 2;

//     }
//   }
//   .profile__description{
//      display: grid;
//      grid-template-columns: 200px 1fr 50px 40px;
//      gap: 10px;
//      &>*{
//       grid-column: 2;
//      }
//       h1{
//         font-size: 3rem;
//         color: #3f51b5;
//       }
//       flex-direction: column;
//       a{
//         color:  #3f51b5;;
//       }
//   }
//   .profile__picture {
//     width: 300px;
//     height: 300px;
//     border: 1px solid;
//     border-radius:60% 40% 63% 37% / 56% 62% 38% 44% ;
//     img{
//       width: 100%;
//       height: 100%;
//       border-radius: inherit;
//     }
//   }
//   .icons{
//     display: flex;
//     gap: 20px;
//     margin-top: 20px;
//   }
// }
#homeWrapper {
  display: grid;
  height: calc(100vh - 60px);
  place-content: center;
  grid-template-columns: 15% 1fr 10%;
  & > * {
    grid-column: 2;
  }
  #aboutMe {
    display: flex;
    gap: 60px;
    align-items: center;
    &>*{
      flex: 1;
    }
  }
  .profile__description {
    h1 {
      font-size: 3rem;
      color: #3f51b5;
    }
    flex-direction: column;
    a {
      color: #3f51b5;
    }
  }
  .profile__picture {
    width: 300px;
    height: 300px;
    border: 1px solid;
    border-radius: 60% 40% 63% 37% / 56% 62% 38% 44%;
    img {
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }
  }
  .icons{
        display: flex;
        gap: 20px;
        margin-top: 20px;
      }
}
